
<div class="contenedor">

    <header>
        <nav>
            <div class="logo">
                <p><a [routerLink]="['/home']">{{title}}</a></p>
                <div class="btn_menu"><img src="./assets/images/menu.png" alt="menu"></div>
            </div>
            <div class="menu">
                <ul class="navegacion">
                    <li><a [routerLink]="['/home']" >Inicio</a></li>
                    <li><a [routerLink]="['/products']" class="nav-link active" aria-current="page">Nuestras Joyas</a></li>
                    <li><a [routerLink]="['/about']" class="nav-link active" aria-current="page">CONTACTO</a></li>
   


                </ul>
            </div>
        </nav>
    </header>

</div>


    
    <router-outlet></router-outlet>
    



    <footer>
    <div class="copyright">
        <p>@Copyright 2022 - JoyeriaDDS - Todos los Derechos Reservados</p>
    </div>

    <div class="metodospago">
        <p>Contamos con varios metodos de pago!</p>
        <img src="./assets/images/metodospago.jpg" alt="metodos-pago">
    </div>
    </footer>

