<div class="titular">
    <h1 class="titularh1">Joyería en alpaca y piedras</h1>
</div>

<section class="infoform">

    <h4 class="titulo-pre">Nosotros</h4>

    <div class="joyeriadds">
        <img src="./assets/images/anillo_joyería_antigua.jpg" alt="anilloantiguo">

        <span class="info">
            <p class="info-us">Somos La Joyeria DDS, una empresa reciente nacida en Tandil con experiencia previa en
                otros
                rubros ubicados en Buenos Aires, cuenta con la experiencia suficiente para ofrecer a sus clientes
                una vasta gama de productos originales de altísima calidad. Nuestros años de experiencia, nos
                permiten brindarle soluciones creativas con el mejor diseño y a un costo óptimo, dado que nos
                dedicamos a la fabricación y comercialización de joyas.</p>
            <p class="info-us2">Exportamos productos pero no solo eso, si no que tenemos especialización en
                productos artesanales de la mejor calidad.</p>
        </span>
    </div>

</section>